<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Event</h4>
      </div>
      <% unless @event.submitted %>
      <div class="modal-body">
        <%= render 'form', event: @event %>
      </div>
        <% else %>
        <div class="modal-body">
          <p> Event cannot be changed, because it has already been submitted</p>
        </div>
      <%end%>
    </div>
  </div>
</div>
