<div class="container">
  <div class="well">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Project</th>
        <td>Duration</td>
        <td>Description</td>
      </tr>
    </thead>
    <tbody class="client-index">
      <%= render "weekly" %>
    </tbody>
  </table>
<div id="client-modal" class="modal fade"></div>