<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Delete Project</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Are you sure?
  </div>
  <div class="modal-footer">
    <%= link_to "Yes, Delete This Project", project_path(@project), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "No, Please Don't", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>
